{% extends "01-plantilla_base.html" %}

{% load static%}

{% block contenido_base %}

<body>
    <header class="masthead" style="background-image: url('{{posts.image}}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 left-content-left">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{posts.titulo}}</h1>
                        <h2 class="subheading">Equipo: {{posts.equipo}}</h2>
                        <span class="meta">
                            Usuario:
                            <a href="#!">{{posts.autor}}</a>
                            <i>Fecha y hora: {{posts.creado}}</i> 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <posts class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{posts.posteo|safe}}
                </div>
            </div>
        </div>
    </posts>
    <span></span>
    <p align="right"><button type="button" class="btn btn-primary" style="margin: 50px 200px;"><a href="{% url 'blog'%}" style="color:white; text-decoration:none;">Volver</a></button>
</body>
{% endblock contenido_base %}
</html>