{% extends "01-plantilla_base.html" %}

{% load static%}

{% block contenido_base %}
<header class="masthead" style="background-image: url('https://static01.nyt.com/images/2022/03/31/multimedia/world-cup-explainer/world-cup-explainer-superJumbo.jpg?quality=75&auto=webp')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-left">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog del Mundial de Qatar 2022</h1>
                    <span class="subheading">{{mensaje}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container px-4 px-lg-5" style="margin: 50px auto;">
    <form method="post">
        {% csrf_token%}
        <p>¿Estas seguro que querés borrar el posteo "{{object}}"?</p>
        <input type="submit" value="Confirmar" class="btn btn-primary">
        <button type="button" class="btn btn-primary" style="margin: 50px 200px;"><a href="{% url 'blog'%}" style="color:white; text-decoration:none;">Cancelar</a></button>
    </form>
</div>
</body>
{% endblock contenido_base %}
</html>