{% extends "01-plantilla_base.html" %}
{% load static%}
{% block contenido_base %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('https://static01.nyt.com/images/2022/03/31/multimedia/world-cup-explainer/world-cup-explainer-superJumbo.jpg?quality=75&auto=webp)">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 left-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Estadios</h1>
                        <h5>¿Cuál te gusta más?</h5>
                        <h5>Creá un nuevo post o entrá al chat para dar tu opinión y debatir.</h5>

                        <span class="subheading">{{mensaje}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <hr>
    <h2> A continuación te dejamos el detalle:</h2>
    <center><img src="{% static 'AppMundial/assets/img/Estadios.jpg'%}" alt="Estadios" width="1000" height="650">

        {% endblock contenido_base %}